.header{
	padding: 0px;
	margin: 0px;
}
body{
	color:#c6001d;
	font-family: 'Open Sans', sans-serif;
	background-image: url('3.jpg');
	background-size: cover;
}
ul:hover{
	color: yellow;
}
h1{
	font-size:35px;
}
h1:hover, h2:hover,h3:hover,h4:hover,p:hover{
	color: yellow;
}
span:hover{
	background-color: yellow;
}
.nav ul a{
	color:#edf3ff;
	text-decoration: none;
	padding: 10px 20px;
}
.nav ul a:hover{
	color: black;
}
ul{
	list-style-type: square;
}
.nav ul li{
	list-style-type: none;
	display: inline;
}
header{
	background-color: black;
}
.KVPY{
	float: left;
	margin-right:30px;
	margin-bottom:20px;
	height: 150px;
	width: 150px;
}
.football{
	float: left;
	margin-right: 30px;
	margin-bottom: 20px;
}
.anime{
	clear: both;
	float: left;
	margin-right: 30px;
	margin-right: 20px;
}
.clear{
	clear: both;
}
p{
	font-size: 25px;
}
ul{
	font-size:25px;
}